@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --fontcolor: 0, 0, 0;
  --background: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fontcolor: 255, 255, 255;
    --background: 0, 0, 0;
  }
}

body {
  color: rgb(var(--fontcolor));
  background: rgb(var(--background));
} */

body {
  width: 100%;
}

header {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#nav-mobile {
  box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
}

footer {
  #jornal {
    background-position: 20% 30%;
  }
}