@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply w-full bg-gray-50;
}


// --- Basic Style --- //
h1 {
  @apply text-5xl lg:text-6xl font-bold text-[#222] mb-5 break-all sm:break-normal;
}
h2 {
  @apply text-[46px] font-bold text-[#222] mb-5 break-all sm:break-normal;
}
h3 {
  @apply text-xl font-semibold text-[#222] mb-4 break-all sm:break-normal;
}

.section-p1 {
  @apply px-5 sm:px-10 lg:px-20 py-10;
}
.section-m1 {
  @apply my-10;
}

.borderBlack {
  @apply border border-black/20 focus:border-black/50;
}

// --- TW Does not Cover --- //
header {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#nav-mobile {
  box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
}

#jornal {
  background-position: 20% 30%;
}

.question-box {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .14);

  &:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .22);
  }
}